# Владельцы всех файлов: администраторы и старшие разработчики проектов
* @Miluino/admins @r3m4k @bogdan-unix

# Изменение владельцев кода контролирует только команда администраторов
/.github/CODEOWNERS @Miluino/admins
